body {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 0px;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

.blue-space {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.placeholder {
    display: flex;
    background-color: grey;
    padding: 60px;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.right-links {
    display: flex;
}

.left-links {
    display: flex;
}

.white-space {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-family: 'light italic';
    color: #1F2937;
    justify-content: space-around;
    padding: 0px;
    margin-top: 160px;
}

.attribution {
    display: flex;
    justify-content: right;
    padding: 20px;
    font-weight: bold;
}

.large-text {
    display: flex;
}

.subtext {
    display: flex;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-shrink: 0;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    justify-content: space-around;
    align-items: center;
    margin: 200px;
    height: 100px;
    display: flex;
}

.title {
    font-weight: bold;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.button {
    background: #3882F6;
    border: #F9FAF8;
    border-radius: 8px;
    padding: 4px 16px;
    text-align: center;
    width: 60px;
}

.sign-up .button {
    border: 1px solid #F9FAF8;
}

.image {
    display: flex;
    border: 2px solid #3882F6;
    padding: 16px;
    border-radius: 8px;
    height: 80px;
    width: 80px;
    margin: 8px;
}

.caption {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

p {
    margin: 0px;
}